</br>
<div align="center">
  <%= form_tag admin_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Date" %>
  <% end %>
  <%= link_to "Advanced Search", new_search_path %>
</div>
</br>

<div align="center">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Current Appointments</h5>
      <div class="card-body">
        <%@appointments.where("date LIKE ? AND date >= ?","%#{params[:search]}%", Date.current).each do | appt |%>
          <%="Appointment for #{appt.owner_email} on #{appt.date} in the #{appt.time}"%> <%= link_to 'Edit', edit_appointment_path(appt) %>
          </br>
        <%end%>
      </div>
    </div>
  </div>
</div>
</br></br>
<div align="center">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Previous Appointments</h5>
      <div class="card-body">
        <%@appointments.where("date LIKE ? AND date < ?","%#{params[:search]}%", Date.current).each do | appt |%>
          <%="Appointment for #{appt.owner_email} on #{appt.date} in the #{appt.time}"%>
          </br>
        <%end%>
      </div>
    </div>
  </div>
</div>