<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center mb-5 mt-5">
      <h1>Appointments Lookup</h1>
    </div>
  </div>
  <%= form_for @search do |s| %>
    <div class="row">
      <div class="col-md-2 offset-md-3">
        <div class="form-group">
          <%= s.label :VIN, "VIN" %>
          <%= s.text_field :VIN, { class: "form-control" } %>
        </div>
      </div>
      <div class="col-md-2 offset-md-2">
        <div class="form-group">
          <%= s.label :email, "Email" %>
          <%= s.text_field :email, { class: "form-control" } %>
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-2 offset-md-3">
          <div class="form-group">
              <%= s.label :after_date, "After Date" %>
              <%= s.date_field :after_date, { class: "form-control" } %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <%= s.label :before_date, "Before Date" %>
              <%= s.date_field :before_date, { class: "form-control" } %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
              <%= s.label :time, "Time" %>
              <%= s.select :time, options_for_select(["Any", "Morning", "Afternoon", "Evening"]), {}, class: "form-control" %>
          </div>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 offset-md-4 text-center">
         <%= s.submit "Search", class:"btn btn-danger"%>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
       <%= link_to "Return", admin_path, class:"btn btn-secondary"%>
    </div>
  </div>
</div>